<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>GONet Wizard</title>
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='img/logo/logo_1024.png') }}" class="logo">
    <h1>GONet Wizard</h1>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  {% block footer %}
    <footer>
      <button onclick="showExitModal()">Exit</button>
      {% if request.path != '/' %}
        <button onclick="location.href='/'">Back to Main Menu</button>
      {% endif %}
    </footer>

    <!-- Exit confirmation modal -->
    <div id="exit-modal" class="modal hidden">
      <div class="modal-content">
        <p>Are you sure you want to exit GONet Wizard?</p>
        <button onclick="closeExitModal()">Cancel</button>
        <button onclick="pywebview.api.close_window()">Exit</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/launcher.js') }}"></script>
  {% endblock %}
</body>
</html>

